@model MultiFactor.SelfService.Windows.Portal.Models.ChangePasswordModel

@{
    ViewBag.Title = "Смена пароля";
}
<div action="#" class="login">
    <div class="form-column">
        @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
        {
            <fieldset>
                @Html.AntiForgeryToken()
                <p>Пожалуйста, поменяйте пароль для продолжения работы. Обратите внимание, новый пароль:</p>
                <ol>
                    <li>Не должен совпадать с вашим логином</li>
                    <li>Не должен повторять ранее использованные пароли</li>
                    <li>Должен содержать не менее 7 символов</li>
                    <li>Включать цифры и буквы</li>
                </ol>
                <div class="form-row">
                    <div class="input">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Новый пароль" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="input">
                        @Html.PasswordFor(m => m.PasswordAgain, new { placeholder = "Еще раз новый пароль" })
                        @Html.ValidationMessageFor(m => m.PasswordAgain)
                    </div>
                    @Html.ValidationSummary(true)
                </div>
                <div class="form-row">
                    <input type="hidden" name="myUrl" id="myUrl" />
                    <input type="submit" class="btn" value="Сменить" />
                </div>
            </fieldset>
        }
    </div>
</div>