@model MultiFactor.SelfService.Windows.Portal.Models.PasswordRecovery.EnterIdentityForm

@{
    ViewBag.Title = Resources.PasswordReset.Title;
}
<div class="login change-pwd">
    <div class="form-column">
        @using (Html.BeginForm("Index", "ForgottenPassword", FormMethod.Post))
        {
            <fieldset>
                @Html.AntiForgeryToken()
                <p>@Resources.PasswordReset.EnterLogin</p>
                <div class="form-row">
                    <div class="input">
                        @Html.TextBoxFor(m => m.Identity, new { placeholder = Configuration.Current.RequiresUpn ? Resources.AccountLogin.UserNameUpn : Resources.AccountLogin.UserName })
                        @Html.ValidationMessageFor(m => m.Identity)
                    </div>
                    @Html.ValidationSummary(true)

                    @if (Configuration.Current.CaptchaConfigured)
                    {
                        <div class="g-recaptcha"
                             data-sitekey="@Configuration.Current.GoogleReCaptchaKey"
                             data-callback="captchaCallback"
                             data-size="normal">
                        </div>
                    }
                </div>
                <div class="form-row">
                    @if (Configuration.Current.CaptchaConfigured)
                    {
                        <input type="hidden" name="responseToken" id="responseToken" />
                        <input type="submit" class="btn" disabled="disabled" value="@Resources.PasswordReset.Next" id="submit" />
                    }
                    else
                    {
                        <input type="submit" class="btn" value="@Resources.PasswordReset.Next" id="submit" />
                    }
                </div>
            </fieldset>
        }
    </div>
</div>

@section head {
    @if (Configuration.Current.CaptchaConfigured)
    {
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    }
}

<script type="text/javascript">
    function enableSubmit() {
        $("form").find(':submit').removeAttr('disabled');
    }

    function captchaCallback(token) {
        $('#responseToken').val(token);
        enableSubmit();
    }
</script>