@using MultiFactor.SelfService.Windows.Portal.Core
@model MultiFactor.SelfService.Windows.Portal.Models.PasswordRecovery.EnterIdentityForm

@{
    ViewBag.Title = Resources.PasswordReset.Title;
}
<div class="login">
    <div class="form-column">
        <h2>@Resources.PasswordReset.Title</h2>
        @using (Html.BeginForm("Index", "ForgottenPassword", FormMethod.Post))
        {
            <fieldset>
                @Html.AntiForgeryToken()
                <p>@Resources.PasswordReset.EnterLogin</p>
                <div class="form-row">
                    <div class="input">
                        @Html.TextBoxFor(m => m.Identity,
                            new
                                 {
                                placeholder = Configuration.Current.RequiresUpn ? Resources.AccountLogin.UserNameUpn : Resources.AccountLogin.UserName,
                                autocomplete = "off"
                            })
                        @Html.ValidationMessageFor(m => m.Identity)
                    </div>
                    @Html.ValidationSummary(true)

                    @if (Configuration.Current.CaptchaConfigured)
                    {
                        if (Configuration.Current.IsCaptchaEnabled(CaptchaType.Google))
                        {
                            <div class="g-recaptcha"
                                 data-sitekey="@Configuration.Current.CaptchaKey"
                                 data-callback="captchaCallback"
                                 data-size="normal">
                            </div>
                        }
                        if (Configuration.Current.IsCaptchaEnabled(CaptchaType.Yandex))
                        {
                            <div id="yandex-captcha-container"></div>
                        }
                    }
                </div>
                <div class="form-row">
                    <input type="hidden" name="myUrl" id="myUrl" />
                    @if (Configuration.Current.CaptchaConfigured)
                    {
                        <input type="hidden" name="responseToken" id="responseToken" />
                        <input type="submit" class="btn-primary w-100" disabled="disabled" value="@Resources.PasswordReset.Next" id="submit" />
                    }
                    else
                    {
                        <input type="submit" class="btn-primary w-100" value="@Resources.PasswordReset.Next" id="submit" />
                    }
                </div>
            </fieldset>
        }
    </div>
</div>

@section head {
    @if (Configuration.Current.CaptchaConfigured)
    {
        if (Configuration.Current.IsCaptchaEnabled(CaptchaType.Google))
        {
            <script src="https://www.google.com/recaptcha/api.js?hl=@LocalizationProvider.GetLanguage()" async defer></script>
        }
        if (Configuration.Current.IsCaptchaEnabled(CaptchaType.Yandex))
        {
            <script src="https://captcha-api.yandex.ru/captcha.js?render=onload&onload=yandexCaptchaLoadFunction"
                    defer></script>
        }
    }
}

<script type="text/javascript">
    function enableSubmit() {
        $("form").find(':submit').removeAttr('disabled');
    }

    function captchaCallback(token) {
        $('#responseToken').val(token);
        enableSubmit();
    }

        $(document).ready(function(){
        $('#myUrl').val(document.location);

        $("form").submit(function () {
            if ($(this).valid()) {
                $(this).find(':submit').attr('disabled', 'disabled').val('@Resources.AccountLogin.PleaseWait');
            }
        });
        });



    @if (Configuration.Current.IsCaptchaEnabled(CaptchaType.Yandex))
    {
        <text>
        function yandexCaptchaLoadFunction()
        {
            if (window.smartCaptcha)
            {
                const container = document.getElementById('yandex-captcha-container');
                window.smartCaptcha.render(container, {
                sitekey: '@Configuration.Current.CaptchaKey',
                callback: captchaCallback,
                hl: '@LocalizationProvider.GetLanguage()'
                });
            }
        }
        </text>
    }
</script>